// === Variables =====
$perspective: 60rem;
$font-size: 4.25rem;
$font-size_side: 1.25rem;
$split-position: 49%;
$split-thickness: 4px;
$split-thickness_side: 1px;
$background-black: #1A1918;
$txt-white: #FDFDFD;
$box-black: #070101;
$point-orange: #EE8F28;
$Ja: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
$En: 'Georgia',sans-serif;
$h2-size: 2.8rem;
$h3-size: 2rem;
// === Settings =====
%font-settings {
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-font-kerning: normal;
  -webkit-text-size-adjust: 100%;
}
// === Codepen Setup =====
body,
html {
  width: 100%;
  height: 100vh;
  background: $background-black;
  color: $txt-white;
  font-family: $Ja;
  a {
  text-decoration: none;
}
}

header {
  position: relative;
  z-index: 100;

  a {
    &:link, &:visited, &:hover, &:active {
  color: $box-black;
}
  }
}

main {
  margin-left: 20vw;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
// メニュー ハンバーガー
.Menu-hidden {
  display: none;
  @extend %font-settings;
  width: 100vw;
  height: 100vh;
  background: $box-black;
  font-family: $En;
  transform: perspective($perspective);
  position: fixed;
  // display: flex;
  align-items: center;
  justify-content: center;
}
// === Menu <ul> =====
.Menu-list {
  font-size: $font-size;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
// === Menu item =====
.Menu-list-item {
  position: relative;
  color: transparent;
  cursor: pointer;
  // === Split Line =====
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: $split-position;
    left: -10%;
    right: -10%;
    height: $split-thickness;
    border-radius: $split-thickness;
    margin-top: -($split-thickness / 2);
    background: $point-orange;
    transform: scale(0);
    transition: transform 0.8s cubic-bezier(.16,1.08,.38,.98);
    z-index: 1;
  }
}
// === Top/bottom mask =====
.Mask {
  display: block;
  position: absolute;
  overflow: hidden;
  color: $txt-white;
  top: 0;
  height: $split-position;
  transition: all 0.8s cubic-bezier(.16,1.08,.38,.98);

  span {
    display: block;
  }
}
// === Bottom mask specific =====
.Mask + .Mask {
  top: $split-position - 0.1;
  height: 100 - $split-position + 0.1;

  span {
    transform: translateY(-$split-position);
  }
}
// === Where the fun stuff happens =====
.Menu-list-item:active,
.Menu-list-item:hover {
  .Mask {
    color: $point-orange;
    transform: skewX(12deg) translateX(5px);
  }

  .Mask + .Mask {
    transform: skewX(12deg) translateX(-5px);
  }

  &::before {
    transform: scale(1);
  }
}
// メニュー サイド
.Menu-side {
  @extend %font-settings;
  width: 20vw;
  height: 100vh;
  background: $box-black;
  font-family: $En;
  position: fixed;
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-items: center;
  box-sizing: border-box;
}

.rogo {
  img {
    max-width: 10rem;
    height: auto;
    margin: 2rem;
  }
}

.Menu_side {
  justify-content: center;
  margin-top: 8vw;
}
// === Menu <ul> =====
.Menu-list_side {
  font-size: $font-size_side;
  line-height: 2;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
// === Menu item =====
.Menu-list-item_side {
  position: relative;
  color: transparent;
  cursor: pointer;
  // === Split Line =====
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: $split-position;
    left: -10%;
    right: -10%;
    height: $split-thickness_side;
    border-radius: $split-thickness_side;
    margin-top: -($split-thickness_side / 2);
    background: $point-orange;
    transform: scale(0);
    transition: transform 0.8s cubic-bezier(.16,1.08,.38,.98);
    z-index: 1;
  }
}
// === Top/bottom mask =====
.Mask_side {
  display: block;
  position: absolute;
  overflow: hidden;
  color: $txt-white;
  top: 0;
  height: $split-position;
  transition: all 0.8s cubic-bezier(.16,1.08,.38,.98);

  span {
    display: block;
  }
}
// === Bottom mask specific =====
.Mask_side + .Mask_side {
  top: $split-position - 0.1;
  height: 100 - $split-position + 0.1;

  span {
    transform: translateY(-$split-position);
  }
}
// === Where the fun stuff happens =====
.Menu-list-item_side:active,
.Menu-list-item_side:hover {
  .Mask_side {
    color: $point-orange;
    transform: skewX(12deg) translateX(5px);
  }

  .Mask_side + .Mask_side {
    transform: skewX(12deg) translateX(-5px);
  }

  &::before {
    transform: scale(1);
  }
}
// トップ
.Top_img {
  position: relative;
  top: 0;
  right: 0;

  img {
    width: 100%;
    height: auto;
  }

  .Top_txt1 {
    color: $point-orange;
    font-family: 'Zapfino','Segoe Script',sans-serif;
    font-size: 2rem;
    transform: rotate(-13deg);
    position: absolute;
    top: 43vw;
    right: 1vw;
  }

  .Top_txt2 {
    position: absolute;
    top: 42vw;
    right: 3vw;
  }

  .outline {
    display: inline-block;
    color: #070101;
    font-size: $h3-size;
    text-shadow: 1px 1px 0 rgba(253, 253, 253, .6), -1px 1px 0 rgba(253, 253, 253, .6), 1px -1px 0 rgba(253, 253, 253, .6), -1px -1px 0 rgba(253, 253, 253, .6), 1px 0 0 rgba(253, 253, 253, .6), 0 1px 0 rgba(253, 253, 253, .6), -1px 0 0 rgba(253, 253, 253, .6), 0 -1px 0 rgba(253, 253, 253, .6);
  }
}
// === title =====
h2 {
  font-size: $h2-size;
  padding: 2.8vw 0;
}

h3 {
  font-size: $h3-size;
}
// === margin =====
%margin-settings {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 30vw;
}
// === black_box =====
.black_box {
  background: $box-black;
  width: 22vw;
  height: 28vw;
}

%black-boxL {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

%black-boxR {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

%black_box_base20L {
  position: relative;
  top: 0;
  left: 0;
  z-index: 20;
}

%black_box_base20R {
  position: relative;
  top: 0;
  right: 0;
  z-index: 20;
}

%black_box_base30L {
  position: relative;
  top: 0;
  left: 11vw;
  z-index: 30;
}

%black_box_base30R {
  position: relative;
  top: 0;
  right: 11vw;
  z-index: 30;
}
// === black_box_wide =====
.black_box_wide {
  background: $box-black;
  width: 44vw;
  height: 28vw;
  position: absolute;
  top: 0;
  left: -5vw;
  z-index: 10;
}

%black_box_wide_base20 {
  position: relative;
  top: 0;
  left: 0;
  z-index: 20;
}

%black_box_wide_base30 {
  position: relative;
  z-index: 30;
}
// ニュース
#News {
  @extend %margin-settings;
  margin-top: 15vw;
  padding-bottom: 5vw;
}

.News_box {
  @extend %black_box_base20L;
}

.News_box_inner {
  @extend %black_box_base30L;
  width: 63vw;

  li {
    padding-bottom: 2vw;
    text-shadow: 1px 1px 1px #1a181a, -1px 1px 1px #1a181a, 1px -1px 1px #1a181a, -1px -1px 1px #1a181a, 1px 0 1px #1a181a, 0 1px 1px #1a181a, -1px 0 1px #1a181a, 0 -1px 1px #1a181a;
  }
}

#black_box1 {
  @extend %black-boxL;
}

.News_img {
  position: absolute;
  top: 5vw;
  right: -5vw;
  z-index: 15;

  img {
    width: 29.3vw;
    height: 37.3vw;
    object-fit: cover;
    object-position: 10% 90%;
  }
}
// サービス
#Service {
  @extend %margin-settings;
}

.Service_menu_box {
  @extend %black_box_base20R;
  margin-bottom: 10vw;
}

.Service_menu_box_inner {
  @extend %black_box_base30R;

    h2 {
      text-align: right;
    }
    a {
      &:link, &:visited, &:hover, &:active {
  color: $background-black;
}
    }
}

// === Menu item =====
.Service_menu_list_item {
  line-height: 3;
  text-align: right;
  position: relative;
  color: transparent;
  cursor: pointer;
  // === Split Line =====
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: $split-position;
    left: 30%;
    right: -5%;
    height: $split-thickness_side;
    border-radius: $split-thickness_side;
    margin-top: -($split-thickness_side / 2);
    background: $point-orange;
    transform: scale(0);
    transition: transform 0.8s cubic-bezier(.16,1.08,.38,.98);
    z-index: 1;
  }
}
// === Top/bottom mask =====
.Service_mask {
  display: block;
  position: absolute;
  overflow: hidden;
  color: $txt-white;
  top: 0;
  right: 0;
  height: $split-position;
  transition: all 0.8s cubic-bezier(.16,1.08,.38,.98);
  span {
    display: block;
  }
}
// === Bottom mask specific =====
.Service_mask + .Service_mask {
  top: $split-position - 0.1;
  height: 100 - $split-position + 0.1;

  span {
    transform: translateY(-$split-position);
  }
}
// === Where the fun stuff happens =====
.Service_menu_list_item:active,
.Service_menu_list_item:hover {
  .Service_mask {
    color: $point-orange;
    transform: skewX(12deg) translateX(5px);
  }

  .Service_mask + .Service_mask {
    transform: skewX(12deg) translateX(-5px);
  }

  &::before {
    transform: scale(1);
  }
}

#black_box2 {
  @extend %black-boxR;
}

.Service_item {
  margin-bottom: 15vw;
}

.Service_item_box {
  @extend %black_box_wide_base20;
  text-align: right;
}

.Service_item_box_inner {
  @extend %black_box_wide_base30;

  .Service_inner_right {
    padding-left: 12vw;
  }
}

.Service_img {
  margin-bottom: 2vw;

  img {
    width: 60.5vw;
    height: 35vw;
    object-fit: cover;
  }
}

.Service_item_box_inner {
  h3 {
    margin-bottom: 2vw;
  }
}

.Service_txt_lead {
  margin-bottom: 2vw;
}

.Service_txt_stamp {
  display: flex;
  margin-bottom: 2rem;
}

.Service_txt_stamp_box {
  padding: 0.5em 1em;
  margin-right: 0.5em;
  border: solid 1px #8D5417;
  background: #170E02;

  p {
    color: #8D5417;
  }
}

.Service_txt_table {
  td,
  tr {
    border: solid 1px #FDFDFD;
    padding: 0.5rem;
  }
}

.Service_txt_other1 {
  padding-left: 0.5rem;
  margin: 2vw 0;
}

.Service_txt_other2 {
  margin-bottom: 1vw;
}

.Service_txt_orange {
  color: $point-orange;
}

.Service_img_list {
  display: flex;
  justify-content: space-between;
  padding: 1vw 0 3vw;
}

.Service_img_list_box {
  width: 13vw;
  position: relative;
  top: 0;
  left: 0;

  img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 20;
  }

  p {
    position: relative;
    z-index: 30;
  }
}

.color_box {
  width: 13vw;
  height: 13vw;
  position: absolute;
  top: 1vw;
  left: 1vw;
  z-index: 10;
}

#color_box1 {
  background: #0C4A0D;
}

#color_box2 {
  background: #134070;
}

#color_box3 {
  background: #9C5D1A;
}

#color_box4 {
  background: #7D1715;
}
// お問い合わせ

#Contact {
  @extend %margin-settings;
}

.Contact_box {
  @extend %black_box_base20L;
}

.Contact_box_inner {
  @extend %black_box_base30L;
}

#black_box3 {
  @extend %black-boxL;
}

.Contact_box_inner_flex {
  display: flex;
}

.Contact_img {
  width: 28vw;
  height: 22vw;

  img {
    width: 100%;
    height: auto;
  }
}

  .e-mail {
    position: relative;
    bottom: 0;
    right: 0;
    width: 18rem;
    border-bottom: 1px solid $txt-white;
    margin: 11rem 0 0 2rem;

    a {
      color: $txt-white;

      &:hover {
        color: $point-orange;
      }
    }
    
.e-mail {
    cursor: pointer;
    // === Split Line =====
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: $split-position;
      left: 25%;
      right: -5%;
      height: $split-thickness_side;
      border-radius: $split-thickness_side;
      margin-top: -($split-thickness_side / 2);
      background: $point-orange;
      transform: scale(0);
      transition: transform 0.8s cubic-bezier(.16,1.08,.38,.98);
      z-index: 1;
    }
  }
  // === Top/bottom mask =====
  .mail_mask {
    display: block;
    position: absolute;
    overflow: hidden;
    color: $txt-white;
    top: 0;
    right: 0;
    height: $split-position;
    transition: all 0.8s cubic-bezier(.16,1.08,.38,.98);
    span {
      display: block;
    }
  }
  // === Bottom mask specific =====
  .mail_mask + .mail_mask {
    top: $split-position - 0.1;
    height: 100 - $split-position + 0.1;

    span {
      transform: translateY(-$split-position);
    }
  }
  // === Where the fun stuff happens =====
  .e-mail:active,
  .e-mail:hover {
    .mail_mask {
      color: $point-orange;
      transform: skewX(12deg) translateX(5px);
    }

    .mail_mask + .mail_mask {
      transform: skewX(12deg) translateX(-5px);
    }

    &::before {
      transform: scale(1);
    }
  }


  .e-mail_arrow {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    display: block;
    border-right: 8px solid transparent;
    border-bottom: 8px solid $txt-white;
  }
}
// フェイスブック
#Facebook {
  @extend %margin-settings;

  h2 {
    text-align: right;
  }
}

.Facebook_box {
  @extend %black_box_base20R;
}

.Facebook_box_inner {
  @extend %black_box_base30R;
}

#black_box4 {
  @extend %black-boxR;
}

.movie {
  position: relative;
  z-index: 50;
  margin: 22vw 0 5vw;

  img {
    width: 100%;
    height: auto;
  }
}

.Facebook_link {
  display: flex;
  justify-content: space-between;
}
// 会社概要
#Company {
  @extend %margin-settings;
  margin-top: 15vw;
}

.Company_box {
  @extend %black_box_base20L;
}

.Company_box_inner {
  @extend %black_box_base30L;
}

#black_box5 {
  @extend %black-boxL;
}

.Company_txt_table {
  background: $background-black;

  td,
  tr {
    border: solid 1px #FDFDFD;
    padding: 0.5rem;
    text-align: center;
    vertical-align: middle;
  }

  .ttl {
    width: 18vw;
  }

  .txt {
    width: 38vw;
  }
}

#Company_txt_table1 {
  display: inline-block;
}
// フッター
footer {
  text-align: center;
  margin: 10vw 0 2vw;

  a {
    color: $txt-white;
  }
}
